﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Login.aspx.vb" Inherits="CallCenterHotel.Login1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="margin-right: 0px">
            <tr>
                <td class="style5">Programa de reservaciones</td>
                <td class="style4"></td>
                <td class="style3"></td>
                <td class="style2"></td>
                <td class="style1"></td>
            </tr>
            <tr>
                <td class="style5"></td>
                <td class="style4"></td>
                <td class="style3">Autenticación al sistema</td>
                <td class="style2"></td>
                <td class="style1"></td>
            </tr>
            <tr>
                <td class="style5"></td>
                <td class="style4">Nombre de usuario</td>
                <td class="style3">
                    <asp:TextBox ID="txtUsuario" runat="server"></asp:TextBox>
                </td>
                <td class="style2"></td>
                <td class="style1"></td>
            </tr>
            <tr>
                <td class="style5">&nbsp;</td>
                <td class="style4">Contraseña</td>
                <td class="style3">
                    <asp:TextBox ID="txtPassword" runat="server"></asp:TextBox>
                </td>
                <td class="style2">&nbsp;</td>
                <td class="style1">&nbsp;</td>
            </tr>
            <tr>
                <td class="style5">&nbsp;</td>
                <td class="style4">&nbsp;</td>
                <td class="style3">&nbsp;</td>
                <td class="style2">
                    <asp:Button ID="Button1" runat="server" Text="Button" />
                </td>
                <td class="style1">&nbsp;</td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
